*{
    margin: 0;
    padding: 0;
}

.left{

    width: 25vw;
    color: #fff;
    

}

.right{

    width: 75vw;
    
}
.home ul li{

    width: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 30px;

}

.home{

    padding: 5px;
}
.heading{

    width: 20px;
    align-items: center;
    display: flex;
    
    /* padding-top: 14px; */

    
}
.library{

    display: flex;
    align-items: center;
    gap: 14px;
}
.library h2{

    font-size: 17px;
    color: grey;
}

.footer{

    display: flex;
    align-items: center;
    display: flex;
    gap: 7px;
}
.footer a{


    color: grey;
    text-decoration: none;
    font-size: 10px;
    
}
.lang-but{

    display: flex;
    align-items: center;
}
.langbut{

    border-radius: 15px;
    width: 50px;
    height: 20px;
    border-color: #fff;
    color: white;
    align-items: center;
}


