*{
    margin: 0;
    padding: 0;
}

.left{

    width: 25vw;
    color: #fff;
    

}

.right{

    width: 75vw;
    
}
.home ul li{

    width: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 30px;

}

.home{

    padding: 5px;
}




