


.flex{
    display: flex;
}
.justify-content{

    justify-content: center;
}
.items-center{

    align-items: center;
}
.border{

    border: 2px solid red;
    margin: 3px;
}
.invert{

    filter: invert(1);
}
.bg-grey{

    background-color: #1f1f1f;
}
.bg-black{

    background-color: #000000;
}
.rounded{

    border-radius: 7px;
}
.m-1{

    margin: 3px;
}
.pad{

    padding: 5px;
}
.fcolor{

    color: #ffff;
}